.vh-100 {
  height: calc(100vh - 112px) !important;
}

.bg-card {
  background-color: #f8f9fa !important;
}

.bg-navbar {
  background-color: #aadbfd !important;
}

@media (min-width: 768px) {
  .container-sm {
    max-width: 720px !important;
  }
}
