*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.books-list {
  margin-bottom: 2rem;
  border: 2px solid gray;
  position: relative;
}

.books-list::after {
  content: '';
  display: table;
  width: 100px;
  height: 2px;
  background-color: gray;
  position: absolute;
  top: calc(100% + 2rem);
  left: calc(50% - 50px);
}

.book-article {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-article:nth-of-type(odd) {
  background-color: rgb(218, 216, 216);
}

.book-article > * {
  margin: 0;
}

#books-form {
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}

#books-form > * {
  margin-bottom: 1rem;
}

button {
  box-shadow: 4px 4px 2px gray;
}

#books-form button {
  width: auto;
  align-self: flex-end;
  padding: 0.25rem 1rem;
}
